@media screen and (max-width:1199px) {
    .header--nav-links>li {
        margin-left: 10px;
        margin-right: 10px
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .product--item .info .price,
    .product--item .info .rating {
        float: none
    }
    .product--item .info .aviablity {
        margin-top: 10px
    }
    .product--item .img .buttons {
        left: 0
    }
}

@media screen and (max-width:991px) {
    .float--sm-none,
    .header--navbar .navbar-header {
        float: none
    }
    .about--section .row--vc>div,
    .banner--item .row--vc>div,
    .header--navbar .navbar-header .navbar-toggle {
        display: block
    }
    .header--navbar .navbar-collapse {
        float: none;
        display: none!important;
        position: absolute;
        top: 100%;
        left: 15px;
        right: 15px;
        max-height: 320px;
        color: #555;
        background-color: #fff;
        box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
        overflow-y: auto!important
    }
    .header--navbar .navbar-collapse.collapsing,
    .header--navbar .navbar-collapse.in {
        display: block!important
    }
    .header--nav-links {
        float: none!important;
        margin: 0
    }
    .header--nav-links>li {
        float: none;
        margin: 0
    }
    .header--nav-links>li>a {
        padding: 10px 25px
    }
    .header--nav-links>.dropdown>.dropdown-menu {
        float: none;
        padding: 0 20px;
        box-shadow: none;
        position: relative;
        left: 0;
        right: 0
    }
    .header--nav-links>.megamenu>.dropdown-menu>.nav {
        margin-top: 20px;
        margin-bottom: 4px
    }
    .banner--content .title {
        margin-top: 0
    }
    .service--details {
        padding-right: 0;
        border-right-width: 0
    }
    .checker--form .form-group {
        margin-bottom: 20px
    }
    .comment--items ul {
        padding-left: 0;
        padding-right: 0
    }
    .contact--bg-img {
        padding: 0
    }
    .contact--bg-img .bg--img,
    .contact--bg-img .container,
    .contact--bg-img .row,
    .contact--bg-img .row>div {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0
    }
    .contact--section .row--vc>div {
        display: block
    }
    .f0f--error {
        font-size: 220px;
        line-height: 160px
    }
}

@media screen and (max-width:767px) {
    .comment--item .content .header .float--left,
    .comment--item .content .header .float--right,
    .float--xs-none {
        float: none
    }
    .align-xs-none {
        float: none;
        margin-left: 0;
        margin-right: 0
    }
    .comment--item .content {
        margin-top: 0
    }
    .header--navbar .navbar-header {
        margin: 0
    }
    .header--navbar .navbar-brand {
        padding-left: 0;
        padding-right: 0
    }
    .header--btn {
        margin-left: 15px
    }
    .header--btn .btn {
        padding-left: 21px;
        padding-right: 21px
    }
    .header--nav-links>.dropdown>.dropdown-menu {
        background-position: top left
    }
    .checker--form {
        padding-left: 40px;
        padding-right: 40px
    }
    .cart--items .table tbody tr,
    .checker--form .input-group {
        display: block
    }
    .checker--form .input-group-btn,
    .footer--copyright {
        text-align: center
    }
    .checker--form .input-group-btn .btn {
        margin-top: 20px;
        margin-left: 0
    }
    .cart--items .table {
        border: 0
    }
    .cart--items .table thead {
        display: none
    }
    .cart--items .table tbody tr+tr {
        margin-top: 30px
    }
    .cart--items .table tbody tr td {
        display: block;
        position: relative;
        padding-left: 152px;
        border-width: 1px 1px 0;
        text-align: right
    }
    .cart--items .table tbody tr td:last-child {
        border-bottom-width: 1px
    }
    .cart--items .table tbody tr td:before {
        content: attr(data-label);
        position: absolute;
        top: 50%;
        left: 15px;
        margin-top: -14px;
        color: #222;
        font-family: "Lora", serif;
        font-size: 18px;
        line-height: 28px;
        font-weight: 700
    }
    .cart--items .footer {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 30px;
        border-top-width: 1px;
        text-align: center
    }
    .cart--items .footer .float--left,
    .cart--items .footer .float--right,
    .footer--copyright .float--left,
    .footer--copyright .float--right {
        float: none
    }
    .cart--items .footer .coupon--code {
        max-width: 100%;
        margin-bottom: 30px
    }
    .footer--copyright .social {
        display: inline-block
    }
}

@media screen and (max-width:480px) {
    .hidden-xxs {
        display: none!important
    }
    .col-xxs-12 {
        float: none;
        width: 100%;
        margin: 0
    }
    .pricing--items {
        margin-top: 20px;
    }
    .pd--40-0-0 {
        padding: 0px;
    }
    .question {
        width: 25%;
    }
    .question-img{
        margin-top: 50px;
    }
    .usefull-link {
        position: absolute;
        left: 0px;
        top: 220px !important;
    }
    .contact {
        left: 0;
        top: 580px !important;
    }
    /* .AdjustRow {
        position: relative;
        height: 797.218px !important;
    } */
    .answer {
        width: 230px;
        margin-left: 100px;
    }
    .answer h2{
        font-size: 15px;
    }
    .answer h3{
        font-size: 15px;
    }
    .header--topbar .cart>li:before,
    .header--topbar .social {
        display: none
    }
    .header--topbar .cart {
        margin-left: 0
    }
    .header--topbar .register {
        float: left
    }
    .checker--form {
        padding-left: 20px;
        padding-right: 20px
    }
    .cart--items .footer .coupon--code .input-group,
    .checkout--info-form .input-group,
    .coming-soon--content .subscribe form .input-group,
    .post--footer .footer-nav .social {
        display: block
    }
    .cart--items .footer .coupon--code .input-group-btn,
    .checkout--info-form .input-group-btn {
        padding-top: 15px
    }
    .post--footer .footer-nav .next,
    .post--footer .footer-nav .prev {
        float: none;
        display: inline-block;
        margin: 10px 10px 0
    }
    .coming-soon--content .subscribe form .input-group:before {
        height: 40px
    }
    .coming-soon--content .subscribe form .input-group-btn {
        padding-top: 20px
    }
}
